{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create selection</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'create_selection_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}" />
</head>
<body>
    <div class="user_options">
        <h1 class="top-content"><a id="home_button" class="po home" href="{% url 'authoringtool:menu' %}"><i id="home" class="fa fa-home" aria-hidden="true"></i></a></h1>
        <div class="cards">
            <div class="single-grid">
                <div class="grid-item single_media">
                    <i class="fa fa-video-camera" aria-hidden="true"></i>
                    <h1>Single media</h1>
                    <p>
                    A single multimedia file for students to see and reflect
                    </p>
                    <a href="{% url 'authoringtool:microcontent_creation' 0 1 0 %}" class="btn">Create</a>
                </div>
                <div class="grid-item single-quest">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <h1>Single Questionnaire</h1>
                    <p>
                    A single questionnaire to assess students' knowledge
                    </p>
                    <a href="{% url 'authoringtool:microcontent_creation' 0 0 1 %}" class="btn">Create</a>
                </div>
            </div>
        </div>
    </div>
    <div class="user_options">
      <div class="cards">
        <div class="lower_grid">
          <div class="grid-item pre_quest">
            <i class="fa fa-question-circle" aria-hidden="true">  <i id="home" class="fa fa-video-camera" aria-hidden="true"></i></i>
            
            <h1>Pre Questionnaire</h1>
            <p>
              A multimedia file with a previous questionnaire to discover the previous knowledge of the students
            </p>
            <a href="{% url 'authoringtool:microcontent_creation' 1 1 0 %}" class="btn">Create</a>
          </div>

          <div class="grid-item post_quest">
            <i class="fa fa-video-camera" aria-hidden="true">  <i id="home" class="fa fa-question-circle" aria-hidden="true"></i></i>
            <h1>Post Questionnaire</h1>
            <p>
              A multimedia file followed by a questionnaire to evaluate what has been learned
            </p>
            <a href="{% url 'authoringtool:microcontent_creation' 0 1 1 %}" class="btn">Create</a>
          </div>

          <div class="grid-item pre_post_quest">
            <i class="fa fa-question-circle" aria-hidden="true">  <i id="home" class="fa fa-video-camera" aria-hidden="true"></i>  <i id="home" class="fa fa-question-circle" aria-hidden="true"></i></i>
            <h1>Pre&Post Questionnaire</h1>
            <p>
              Complete micro-content with a multimedia file and pre and post questionnaires
            </p>
            <a href="{% url 'authoringtool:microcontent_creation' 1 1 1 %}" class="btn">Create</a>
          </div>
        </div>
      </div>
    </div>
</body>