{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course deleted</title>
    <link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'store_style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="bottom">

    <h1>Microcontent with ID {{ id_metadata }} has been duplicated</h1>
    <h1 class="top-content">
        <a id="view_button" class="po view" title="Preview Microcontent" href="{% url 'authoringtool:preview' mc_id %}">
        <i id="view" class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;
    
        <a id="edit_button" class="po edit" title="Edit Microcontent" href="{% url 'authoringtool:edit_microcontent' mc_id %}">
        <i id="edit" class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;

        <a id="home_button" class="po home" title="Home" href="{% url 'authoringtool:menu' %}">
        <i id="home" class="fa fa-home" aria-hidden="true"></i></a>&nbsp;&nbsp;

        <a id="duplicate_button" class="po duplicate" title="Duplicate Microcontent" href="{% url 'authoringtool:duplicate_microcontent' mc_id user.username %}">
        <i id="duplicate" class="fa fa-plus" aria-hidden="true"></i></a>&nbsp;&nbsp;

        <a id="delete_button" class="po delete" title="Delete Microcontent" href="{% url 'authoringtool:delete' mc_id %}">
        <i id="delete" class="fa fa-trash" aria-hidden="true"></i></a></h1>
    </h1>
    
</body>
</html>