{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Microcontents in {{ playlist.name }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authoring_tool_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="bottom">
    <script>

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 0; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("td")[n];
                    y = rows[i + 1].getElementsByTagName("td")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerText.toLowerCase() < y.innerText.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
    
    <h1>Microcontents in {{ playlist.name }}</h1>
    <h1 class="top-content"><a id="home_button" class="po home" title="Go back to courses list" href="{% url 'authoringtool:playlist_search' %}"><i id="home" class="fa fa-reply" aria-hidden="true"></i></a></h1>


    <br>

    <div class="table-wrapper">
        <table class="fl-table" id="myTable">
            <thead>
            <tr>
                <th onclick="sortTable(0)">Title</th>
                <th onclick="sortTable(1)">Author</th>
                <th onclick="sortTable(2)">Level</th>
                <th onclick="sortTable(3)">Date</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for mc in microcontents_in %}
                    <tr>
                        <td>{{ mc.name }}</td>
                        <td>{{ mc.metadata.author }}</td>
                        <td>{{ mc.level }}</td>
                        <td>{{ mc.metadata.pub_date }}</td>
                        <td>
                        {% csrf_token %}
                            <div class="table_button">
                                <a id="view_button" class="po view" title="Preview Microcontent" href="{% url 'authoringtool:preview' mc.metadata.id %}">
                                <i id="view" class="fa fa-eye" aria-hidden="true"></i></a>

                                <a id="edit_button" class="po edit" title="View students" href="{% url 'usersmanager:students_list' playlist.id mc.metadata.id %}">
                                <i id="edit" class="fa fa-user" aria-hidden="true"></i></a>

                                <!--a id="delete_button" class="po delete" title="Delete Microcontent" href="{% url 'authoringtool:delete' mc.metadata.id %}">
                                <i id="delete" class="fa fa-trash" aria-hidden="true"></i></a-->
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
<body>