{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your account will be activate it shortly</title>
    <link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}"/>

</head>

<body class="bg-study">

	<div class="body">
        <div class="sky-form">
            <div class="white">
                <fieldset>
                    <div class="wrapper">
                        <div class="row">
                            <section>
                                <p style="font-size: 18px!important;">The administrator will confirm your registration shortly. You will receive an email with the confirmation.</p>
                            </section>
                        </div>

                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</body>
</html>