{% load static %}
<!DOCTYPE html>
<style>
</style>
<html>
	<head>
		<title>Password change</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
        	<link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}"/>

	</head>
	<body class="bg-study">

		<div class="body body-s">

			<form method="post" class="sky-form">
                {% csrf_token %}
				<header>Password Change</header>
				<fieldset>
                    {{ form.errors }}
					<section>
						<label class="input">Old password:
                            {{ form.old_password }}
							<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
						</label>
					</section>

					<section>
						<label class="input">New password:
                            {{ form.new_password1 }}
							<b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
						</label>
					</section>

					<section>
						<label class="input" >New password confirmation:
							{{ form.new_password2 }}
							<b class="tooltip tooltip-bottom-right">Only latin characters and numbers</b>
						</label>
					</section>
				</fieldset>

				<footer>
					<button type="submit" class="button" style="background-color: green">Save changes</button>
                    <a id="id_back_button" class="button" onclick="window.history.back();" >Back</a>
				</footer>
			</form>

		</div>


	</body>
</html>
