{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Log in</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
	<link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}"/>
	</head>

	<body class="bg-study">
		<div class="body body-s">
			 <form class="sky-form" method="post">
                {% csrf_token %}
				<header>Password reset done</header>
				<fieldset>
					<section>
						<div class="row">
                            <h4>Your new password has been set. You can log in now in the <a href="{% url 'login' %}">log in page</a>.</h4>
						</div>
					</section>

					<section>
						<div class="row">
							<div class="col col-4"></div>
						</div>
					</section>
                    <input type="hidden" name="next" value="{{ next }}">

				</fieldset>
			</form>

		</div>
	</body>
</html>
