{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Reset password</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'demo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'sky-forms.css' %}">
	    <link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}"/>
	</head>
	<body class="bg-study">
		<div class="body body-s">

			 <form class="sky-form" method="post">
                {% csrf_token %}
				<header>Forgot your password?</header>

				<fieldset>
                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                     {% endif %}
					<section>
						<div class="row">
                            <h4 style="text-indent: 15px">Instructions to recover the password</h4> <h4 style="text-indent: 15px">will be sent to the email below. </h4>
							<div class="col col-8">
								<label class="input">
                                    <input type="email" name="email" maxlength="254" required="" id="id_email" placeholder="email">
                                </label>
							</div>
						</div>
					</section>

					<section>
						<div class="row">
							<div class="col col-4"></div>
						</div>
					</section>
                    <input type="hidden" name="next" value="{{ next }}">

				</fieldset>
				<footer>

					<button type="submit" class="button" style="background-color: green;">Send me instructions</button>
                     <a id="id_back_button" class="button" href="{% url 'authoringtool:menu' %}" >Back</a>
				</footer>
			</form>

		</div>
	</body>
</html>
