{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Microcontent list</title>
    <link rel="stylesheet" type="text/css" href="{% static 'authoring_tool_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/icons/book.png' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body class="bottom">
    
    <h1>{{student.first_name}} tracking</h1>
    <h1 class="top-content"><a id="home_button" class="po home" title="Go back to students list" onClick="javascript:history.go(-1);" style="cursor:pointer;"><i id="home" class="fa fa-reply" aria-hidden="true"></i></a></h1>


    <br>

    <div class="table-wrapper">
        <table class="fl-table" id="myTable">
            <thead>
            <tr>
                <th onclick="sortTable(0)">Microcontent</th>
                <th onclick="sortTable(1)">Action</th>
                <th onclick="sortTable(2)">Time</th>
            </tr>
            </thead>
            <tbody>
                {% for trace in traces %}
                    <tr>
                        <td>{{ trace.mc }}</td>
                        <td>{{ trace.action }}</td>
                        <td>{{ trace.time }}</td>
                    </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    <script>

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 0; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("td")[n];
                    y = rows[i + 1].getElementsByTagName("td")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerText.toLowerCase() > y.innerText.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerText.toLowerCase() < y.innerText.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>
<body>